<div class="row comment">
  <!-- <li><%= comment.title %></li> -->
  <div class="large-7 columns  large-offset-4 comment-container">
  <div class="large-4 columns comments-image">
    <%= link_to user_path do %>
      <%= image_tag comment.user.try(:image), class: "comment-image" %>
    <% end %>
  </div>
  <div class="large-8 columns comment-comment">
    <%= comment.comment %>
  </div>
  </div>
  <div class="large-1 columns comment-delete">
    <%= link_to 'Delete', comment_path(comment, commentable_type: commentable.class.to_s.underscore, commentable_id: commentable.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>