<h1><%= @cohort.name %></h1>
<%= link_to 'Edit Class', edit_cohort_path(@cohort) %>
<%= link_to 'Add New Resource', new_resource_path %>

<%= "Teacher: " + @cohort.teacher.first_name + " " + @cohort.teacher.second_name %>

<div>
<%= render @cohort.resources %>
</div>

