<h1><%= @cohort.name %></h1>

<ul>
  <li>Teacher:<%= " " + @cohort.teacher.first_name + " " + @cohort.teacher.second_name %></li>
</ul>

<ul>
  <%= render @cohort.resources %>
</ul>

<ul>
  <li><%= link_to 'Edit', edit_cohort_path(@cohort) %></li>
  <li><%= link_to 'All Cohorts', cohorts_path %></li>
</ul>
