<div class="row user-profile">
  <div class="small-12 medium-12 large-6 large-offset-3">
    <div class="user-pic">
      <%= image_tag @user.image %>
    </div>
    <div class="user-name">
      <h2><%= @user.first_name + " " + @user.second_name %></h2>
    </div>
    <div class="user-role">
      <h3><%= @user.role %></h3>
    </div>
    <div class="user-class">
      <div class="row">
        <ul>
          <% @user_cohorts = @user.cohorts.sort_by { |obj| obj.year_group } %>
          <% @user_cohorts.each do |cohort| %>
            <!-- <div class="small-4 columns"> -->
            <% if @user.role == "Teacher" %>
              <li><%= link_to cohort.name, cohort  %></li>
            <% else %>
              <li><%= cohort.name %></li>
            <% end %>
            <!-- </div> -->
          <% end %>
        </ul>
      </div>
    </div>
    <div class="user-email">
      <%= @user.email %>
    </div>
    <div class="user-options">
      <%= link_to "Edit Profile", edit_user_registration_path  %>
    </div>
  </div>
</div>