<!-- <h1>Edit<%= " " + @resource.name %></h1>

<%= render 'form' %>

<ul>
  <li><%= link_to 'Back', resources_path %></li>
  <li><%= link_to 'Delete', @resource, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul> -->

<div class="edit-container">
  <div class="edit-title">
    <h1><%= "Edit " + @resource.name %></h1>
    <%= link_to 'Delete', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <%= render 'form' %>

  <div class="edit-tools">
    <%= link_to 'Back', cohorts_path %>
  </div>
</div>
