<h1>Resources</h1>
<% @resources_by_year_group = @resources.sort_by { |obj| obj.cohort.year_group } %>
<% @resources_by_year_group.each do |resource| %>
  <ul>
    <li><%= resource.cohort.name %></li>
  </ul>
  <ul>
    <li>
      <%= link_to resource do %>
        <%= image_tag resource.image %>
      <% end %>
    </li>
    <li>
      <%= link_to resource.file.url do %>
          <%= image_tag("http://fillmurray.com/300/300") %>
        <% end %>
    </li>
  </ul>

  <ul>
    <li><%= resource.name  %></li>
  </ul>

  <ul>
    <li><%= link_to 'Edit', edit_resource_path(resource) %></li>
  </ul>

<% end %>



<ul>
  <li><%= link_to 'New Resource', new_resource_path %></li>
</ul>




