<h1>Resources</h1>

<% @resources.each do |resource| %>
  <ul>
    <li>
      <%= link_to resource do %>
        <%= image_tag resource.image %>
      <% end %>
    </li>
  </ul>

  <ul>
    <li><%= resource.name  %></li>
    <li><%= resource.cohort %></li>
  </ul>

  <ul>
    <li><%= link_to 'Edit', edit_cohort_path(cohort) %></li>
  </ul>

<% end %>



<ul>
  <li><%= link_to 'New Resource', new_resource_path %></li>
</ul>




