<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "PREP", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span><span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if current_user %>
          <li><%= link_to "My Profile", root_path %></li>
          <!-- <li class="has-dropdown"> -->
          <% if current_user.role == "Student" %>
          <li><%= link_to "Feed", resources_path %></li>
          <% else %>
          <li class="has-dropdown">
            <a href="#">My Classes</a>
            <ul class="dropdown">
              <% @user_cohorts = current_user.cohorts.sort_by { |obj| obj.year_group } %>
              <% @user_cohorts.each do |cohort| %>
                <li><%= link_to cohort.name, cohort  %></li>
              <% end %>
            </ul>
          </div>
          <li class="has-dropdown">
            <%= link_to "Browse" %>
            <ul class="dropdown">
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Classes", cohorts_path %></li>
            </ul>
          </li>
          <% end %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>      
    </section>
  </nav>
</header>