<div class="row user-profile">
  <div class="small-12 medium-12 large-6 large-offset-3">
    <div class="user-pic">
      <%= image_tag current_user.image %>
    </div>
    <div class="user-name">
      <h2><%= current_user.first_name + " " + current_user.second_name %></h2>
    </div>
    <div class="user-role">
      <h3><%= current_user.role %></h3>
    </div>
    <div class="user-class">
      <ul>
        <% @user_cohorts = current_user.cohorts.sort_by { |obj| obj.year_group } %>
        <% @user_cohorts.each do |cohort| %>
          <% if current_user.role == "Teacher" %>
            <li><%= link_to cohort.name, cohort  %></li>
          <% else %>
            <li><%= cohort.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="user-email">
      <%= current_user.email %>
    </div>
    <div class="user-options">
      <%= link_to "Edit Profile", edit_user_registration_path  %>
    </div>
  </div>
</div>