<div class="row user-info">
  <div class="small-4 columns">
    <div class="profile-picture">
      <ul>
        <li><%= image_tag @user.image, class: "radius"  %></li>
      </ul>
    </div>
  </div>
</div>
  <div class="small-8 columns">
    <div class="profile-name">
      <ul>
        <li><h2><%= @user.first_name + " " + @user.second_name %></h2></li>
        <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
      </ul>
    </div>
    <div class="profile-role">
      <ul>
        <li><h3><%= @user.role %></h3></li>
      </ul>
    </div>
    <div class="profile-classes">
      <ul>
        <% @user_cohorts = @user.cohorts.sort_by { |obj| obj.year_group } %>
        <% @user_cohorts.each do |cohort| %>
          <li><%= cohort.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <ul>
    <li><%= link_to "All Users", users_path %></li>
    <li><%= link_to 'All Classes', cohorts_path %></li>
    <li><%= link_to 'All Resources', resources_path %></li>
  </ul>
</div>

<div class="user-resources">
  <h2>My Resources</h2>
  <% @user_cohorts = @user.cohorts.sort_by { |obj| obj.year_group } %>
  <% @user_cohorts.each do |cohort| %>
    <ul>
      <li><%= cohort.name %></li>
    </ul>

    <% cohort.resources.each do |resource| %>
      <ul>
        <li>
          <%= link_to resource do %>
            <%= image_tag resource.file.thumb.url %>
          <% end %>
        </li>
      </ul>

      <ul>
        <li><%= resource.name  %></li>
      </ul>
    <% end %>

  <% end %>
</div>