<div class="row user-info">
  <div class="small-4 large-4 columns profile-pic">
    <!-- <div class="img" style="background:url(<%= @user.image %>)"></div> -->
    <%= image_tag @user.image %>
  </div>
  <div class="small-8 large-8 columns profile-info">
    <div class="profile-name">
      <h2><%= @user.first_name + " " + @user.second_name %></h2>
      <%= link_to "EDIT PROFILE", edit_user_registration_path  %>
    </div>
    <div class="profile-role">
      <h3><%= @user.role %></h3>
    </div>
    <div class="profile-classes">
      <ul>
        <% @user_cohorts = @user.cohorts.sort_by { |obj| obj.year_group } %>
        <% @user_cohorts.each do |cohort| %>
          <li><%= link_to cohort.name, cohort  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if false %>
<div class="user-resources">
  <% @user_cohorts = @user.cohorts.sort_by { |obj| obj.year_group } %>
  <% @user_cohorts.each do |cohort| %>
    <div>
      <h4><%= cohort.name %></h4>
      <%= link_to "Add new", new_resource_path %>
    </div>
      <!-- <ul>
        <li><%= cohort.name %></li>
        <li><%= link_to "Add new", new_resource_path %></li>
      </ul> 
    </div> -->
    <div class="row class-resources">
      <% cohort.resources.each do |resource| %>
        <%= link_to resource do %>
        <div class="small-6 medium-6 large-4 columns resource-tile">
          <%= image_tag resource.file.thumb.url %>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>