<h1><%= @user.first_name + " " + @user.second_name %></h1>

<ul>
  <li><%= image_tag @user.image  %></li>
</ul>

<ul>
  <li><%= @user.first_name + " " + @user.second_name %></li>
  <li><%= @user.role %></li>
</ul>

<ul>
  <li><%= link_to 'Edit', edit_user_path(@user) %></li>
  <li><%= link_to "All Users", users_path %></li>
</ul>

<ul>
  <li><%= link_to 'All Cohorts', cohorts_path %></li>
</ul>